.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    background-color: rgb(251, 251, 251);
}

.content {
    max-width: 1280px;
    // background-color: aqua;
}
