.cover-header {
    width: 100vw;
    height: 350px;
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)),
        url(../../../../asset/images/header_cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
