.cover-header {
    width: 100vw;
    height: 350px;
    background-image: url('https://i.imgur.com/qvH8Jvb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
