@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
:root {
    --primary: #beige;
    --BG_Black: #000;
    --textHref: #ee684b;
    --textParagraph: #333;
    --RVcolor: #c0b092;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    //
    // font-family: 'Crimson Text', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textParagraph);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

a[href] {
    color: #000;
    text-decoration: none;

    &:hover {
        color: var(--textHref);
        transition-duration: 0.6s;
    }
}

ul {
    list-style: none;
}
