.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    min-height: 100%;
}

.news-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    hr {
        margin: 1.2rem 0rem 3rem;
    }
}

.news-content {
    img {
        width: 100%;

        &:hover {
            background-color: black;
            opacity: 0.9;
        }

        &:active {
            background-color: black;
            opacity: 1;
        }
    }

    p {
        font-size: 1.5rem;
        text-align: justify;
        padding-bottom: 1rem;

        &:hover {
            color: #ff7a5c;
        }

        &:active {
            color: #ff8267;
        }
    }
}
