.wrapper {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    width: 100%;
}

.sideBar {
    // display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #222222;
    // width: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3rem 0;
    border-left: 10px solid var(--textHref);
    position: fixed;
    height: 100vh;

    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .Name {
            margin-top: 1rem;
            margin-bottom: 3rem;
            color: white;
        }

        img {
            width: 12rem;
            height: 12rem;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    .treev {
        display: flex;
        flex-direction: column;

        .item {
            padding: 1.2rem 2.7rem;
            // background-color: cyan;
            font-size: 1.3rem;

            &:hover {
                background-color: var(--textHref);
            }

            .icon {
                margin-right: 0.5rem;
            }

            a {
                color: #f8f8f8;
            }
        }
    }
}

.HeaderandFrame {
    grid-column-start: 4;
    grid-column-end: 19;

    .header {
        // height: 6rem;
        background-color: #222222;
        display: flex;
        align-items: center;
        padding: 1.3rem 4rem;
        flex-direction: row;
        justify-content: space-between;
        img {
            width: 10rem;
            height: auto;
        }
    }
}

.frame {
    margin: 3rem;
    // background-color: rgb(255, 255, 255);
    // width: 100%;
    // min-height: 20rem;
}

.close {
    margin-left: 1rem;
}
