.news-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    hr {
        margin: 1.2rem 0rem 3rem;
    }
}

.book-publish {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-content: stretch;
    // flex-grow: 1;
    // width: 5rem;

    .frame {
        flex-grow: 1;
        width: 4rem;
        height: 8rem;
        background-color: aqua;
    }

    img {
        // width: 17rem;
        margin: 0.5rem;
        width: auto;
        height: auto;

        &:hover {
            background-color: black;
            opacity: 0.9;
        }

        &:active {
            background-color: black;
            opacity: 1;
        }
    }
}
