.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    // background-color: #e3f1d5;
}

.Left {
    grid-column-start: 1;
    grid-column-end: 3;

    .Shelf {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        p {
            font-size: small;
        }

        span {
            margin-left: 0.3rem;
        }

        a {
            color: black;

            &:hover {
                color: #ee684b;
            }
        }

        .shelfTitle {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            font-weight: 500;
        }

    }
}

.Right {
    grid-column-start: 3;
    grid-column-end: 12;
    // background-color: bisque;
    min-height: 80vh;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;

    table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        overflow: hidden;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        font-size: small;

        * {
            position: relative;
        }

        td,
        th {
            padding-left: 8px;
        }

        thead tr {
            height: 4rem;
            // background: #ffed86;
            font-size: 14px;
            border-bottom: 1px solid #000;
        }

        thead {
            margin-bottom: 3rem;
        }

        tbody tr {
            height: 120px;
            border-bottom: 1px solid #e3f1d5;
            &:last-child {
                border: 0;
            }
        }

        td,
        th {
            text-align: center;
        }

        td img {
            max-width: 100%;
            margin: 1rem 0rem;
        }

        .cover {
            width: 12%;
        }

        .title {
            width: 15%;
        }

        .author {
            width: 8%;
        }

        .avg {
            width: 10%;
        }

        .lineRate {
            width: 12%;
        }

        .shef {
            width: 18%;
        }

        .DateAdd {
            width: 10rem;
        }
    }
}

.Pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
