.wrapper {
    display: flex;
    justify-content: center;
    max-width: 800px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 2.5rem;
    border-radius: 1.5rem;
    margin-bottom: 5rem;

    h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

.date {
    text-align: right;
    color: rgb(148, 148, 148);
    font-size: 1.5rem;
}

.ct {
    img {
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .text {
        margin-bottom: 7rem;
        text-align: justify;
    }
}
